body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f5f5f5;
}
@media screen and (min-width :780px)
{
  .GearList {
    grid-template-columns: repeat(3,1fr);
  }
}

.GearList {
  padding: 15px; 
}
.GearList  h1 {
  display: flex;
  align-items: center;
  gap: 50px;

  text-align: center;

}
.GearList h1 img {
  margin-bottom: 90px;


}
.GearList section{
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 20px;
}
.GearList article {
  padding: 18px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.GearList img {
  width: 120px;
  height: 150px;
  border: 1px solid #ddd;
  border-radius: 3px;
  border-radius: 4px;
}
.Footer p{
  text-align: center;

}
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #c0117a;
  padding: 10px 20px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar-menu li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.navbar-menu li a:hover {
  border-bottom: 2px solid orange;
}

.navbar-banner {
  color: orange;
  font-weight: bold;
}
.navbar-search input {
  border: none;
  padding: 8px 12px; 
  outline: none;
  width: 200px;
  font-size: 14px;
}
